DB_NAME= # example: teslo-shop
DB_USER= # example: postgres
DB_PASSWORD= # example: postgres
DATABASE_URL= # example: "postgresql://postgres:postgres@localhost:5432/teslo-shop?schema=public"
AUTH_SECRET= # generate with: npx auth secret

#Paypal
# https://developer.paypal.com/dashboard
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
# POST
PAYPAL_OAUTH_URL=https://api-m.sandbox.paypal.com/v1/oauth2/token
#GET
PAYPAL_ORDERS_URL=https://api.sandbox.paypal.com/v2/checkout/orders